/* :root {
  --maincolor: #d9230a;
  --p-darkcolor: #303030;
  --white-color: #fff;
  --dark-body: #212121;
  --white-section: #F2FBFC;
  --dark-section: #1A1C46;
  --dark-card: #1A1C46;
  --white-card: #1A1C46;
  --custom-text-color: #F68338;
}

 */