@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden;
}
@layer components {
  .hover-transition {
    transition: all 0.3s ease-in-out;
  }
}

@layer base {
    *[dir='ltr'] {
        @apply font-ENFont !important;
      }
      
      *[dir='rtl'] {
        @apply font-ARFont !important;
      }

  }


/*  @apply animate slide-in;
.slide-in {
  opacity: 0;
  transform: translateY(100px);
}

.sticky & {
  opacity: 1;
  transform: translateY(0);
} */
